@font-face {
  font-family: "Winterlady";
  src: url(./fonts/Winterlady.ttf) format("truetype");
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Name {
  color: aliceblue;
  font-family: Winterlady, Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 10;
}

.Social {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.List {
  list-style-type: none;
}

li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

li :hover {
  color: black;
}
